body{
    background-color:#004980;
    
}

@font-face {
    font-family: moy;
    src: url(/Web_fonts/stratosskyengweb-regular.woff);
  }

.hard-level-elem{
    background-color: #C2F5FF;
    width: 480px;
    height: 459px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 12px;
    font-family: moy;
    
}
.title-hard-level{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color:#004980
}

.hard-level-select{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    gap: 30px
    
}
    
.hard-level-select-input{
    display: none;
}

label {
    display: inline-block;
    background-color: #eee;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


input[type="radio"]:checked + label {
    background-color: #ccc;
}

.hard-level-select-input:hover{
    color:orange
}

.start-game-button-div{
    display: flex;
    justify-content:center;
    border-radius: 12px;
    
}
.start-game-button{
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background-color: #7AC100;
    font-size: 24px;
    border: 0;
    color:white;
}

.start-game-button:hover{
 color:orange   
}

